.ui.menu .item>img.logo:not(.ui){
	width: 100px;
}

.data-container {
	padding: 25px 0;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.calories, .macros, .subt {
	display: block;
	font-weight: bold;
}

.calories {
	font-size: 1.4rem;
}

.macros {
	font-size: 1.1rem;
}